{% load url_filters %}
<div class="row justify-content-center align-items-center">

        <div class="col-md-4">

            <div class="card text-dark mb-3">
                <div class="card-header" style="background: #ffcc00;">
                    <h5 class="card-title text-white float-left">Link Your Soatrix Account</h5>
                </div>
                <div class="card-body text-center">
                    <p class="text-left"><strong>Note: </strong> To participate in community features of PXE Pro such as bug reporting, support requests and more requires you to login to your Soatrix Account used when purchasing PXE Pro.</p>
                    <p class="text-left">This helps us easily identify you and your system to provide you with the best experience.</p>
                    <hr>
                    <a href="https://www.soatrix.com/auth/token/?redirect_uri={{ request.build_absolute_uri|urlencode }}" class="btn btn-primary text-center" style="border: #ffcc00; background: #ffcc00;">Link Soatrix Account</a>
                </div>
            </div>

        </div>

</div>
