[Unit]
Description=PXE Pro Diskless Boot Solution
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/var/www/pxepro
ExecStart=/var/www/pxepro/venv/bin/waitress-serve --unix-socket=/var/www/pxepro/server.sock app.wsgi:application

[Install]
WantedBy=multi-user.target
