[Unit]
Description=PXE Pro Diskless Boot Solution
After=network.target

[Service]
User=pxepro
Group=www-data
WorkingDirectory=/var/www/pxepro
RuntimeDirectory=pxepro
ExecStart=/var/www/pxepro/venv/bin/waitress-serve --unix-socket=/run/pxepro/server.sock app.wsgi:application
Restart=always

[Install]
WantedBy=multi-user.target