[Unit]
Description=PXE Pro Diskless Boot Solution
After=network.target

[Service]
User=pxepro
Group=pxepro
WorkingDirectory=/var/www/pxepro
ExecStart=/var/www/pxepro/venv/bin/waitress-serve --unix-socket=/run/pxepro/server.sock app.wsgi:application
ExecStartPost=/bin/chmod 660 /run/pxepro/server.sock
ExecStartPost=/bin/chown pxepro:www-data /run/pxepro/server.sock
Restart=always

[Install]
WantedBy=multi-user.target